@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_3Rfi-oW3hYwmKDpxS7F_z_g.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_oRfi-oW3hYwmKDpxS7F_LQv37zg.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_oRfi-oW3hYwmKDpxS7F_LXv77zg.ttf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}


body {
    font-family: 'Nanum Gothic', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
}

.hidden {
    display: none;
    overflow: hidden;
    text-indent: -9999px;
}


/* 검색 */

#searchBox {
    display: none;
    position: fixed;
    z-index: 99999999;
    width: 100%;

}

#searchBox_shadow {
    width: 100%;
    height: 416px;
    /*  background: #000000;
    opacity: 0.4; */
    /* display: none; */
}

#searchBox_wrap {
    background-color: #0072bc;
    height: 416px;
    width: 100%;
    box-shadow: 0 1px 4px #000000;
}

.search_logo {
    display: block;
    margin: 0 auto;
    width: 214px;
    height: 40px;
    padding-top: 51px;
}

.search_cancel {
    display: block;
    width: 67px;
    height: 23px;
    position: absolute;
    right: 10%;
    top: 57px;
}

#searchBox_wrap>.search_cancel>img:nth-child(2) {
    display: none;

}

#form {
    position: relative;

}

#search_area {
    width: 70%;
    height: 60px;
    margin: 30px auto;
    box-sizing: border-box;
}

#form>.text {
    padding-left: 20px;
    width: 100%;
    height: 60px;
    font-size: 22px;

}

#form>.image {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;




}

#form>.image:hover {
    border-bottom: #0072bc 2px solid;
}

#search_ex {
    width: 860px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

#search_ex>li {
    display: inline-block;
    margin-right: 15px;
}

#search_ex>li a:after {
    content: ' / ';
    margin-left: 15px;
}

#search_ex>li:last-child a:after {
    content: '';
}

#search_ex>li a {
    color: #ffffff;

}

#search_ex>li:hover a {
    font-weight: 900;
}

/* 레이아웃 */
@media screen and (min-width: 1440px) {

    /* 헤더 */
    header {
        width: 100%;
        height: 90px;
        position: fixed;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #ffffff;
        z-index: 99999;


        /*  background-color: aqua; */
    }

    /* nav */
    nav {
        width: 1440px;
        height: inherit;
        position: relative;
        margin: 0 auto;
        background-color: #ffffff;
        /*  background-color: red; */

    }

    #main_t {
        display: none;

    }

    .main_tt {
        display: none;
    }

    .main_tt>li {
        display: none;
    }

    .main_tt ul {
        display: none;
    }

    /* 로고 */

    h1.logo {

        float: left;
        width: 390px;
        margin-top: 12px;


        /*    background-color: rgba(0, 0, 0, .2); */
    }

    .m_logo {
        display: none;
    }

    /* 메인그룹 */
    .main {
        float: left;
        width: 800px;
        height: inherit;
        margin: 0 auto;
        position: relative;

        /*   background-color: gold; */

    }

    /* 메인메뉴 */
    .main>li {
        float: left;
        width: 90px;

        margin: 0 45px;
        line-height: 90px;
        text-align: center;
        padding: 0 10px;
        font-weight: bold;

    }

    .main>li:hover>a {
        color: #0072bc;
    }

    .main>li:first-child {
        margin-left: 0;
    }

    .main>li:last-child {
        margin-right: 0;
    }

    .main>li>a {
        font-size: 19px;
        color: #000000;
        font-weight: bold;

    }


    /* 서브 */
    .sub1 {
        width: 740px;
        height: 450px;
        position: relative;
        top: 0;
        left: -200px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
        background-color: #ffffff;
        display: none;


        opacity: .9;
    }

    .sub2 {
        width: 180px;
        height: 288px;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        display: none;
        left: -45px;
        top: 0;
        background-color: #ffffff;


        opacity: .9;

    }

    .sub3 {

        width: 180px;
        height: 380px;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #ffffff;
        display: none;
        left: -45px;
        top: 0;


        opacity: .9;
    }

    .sub4 {
        width: 400px;
        height: 380px;

        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #ffffff;
        display: none;
        left: -90px;
        top: 0;


        opacity: .9;

    }

    /* 서브메뉴 항목 */
    .sub1 dl {
        width: 138px;
        height: 194px;
        float: left;
        text-align: left;
        position: relative;
        margin: 0 12px;
    }

    .sub2 dl {
        width: 138px;
        height: 194px;
        float: left;

        position: relative;
        left: 22px;
    }

    .sub3 dl {
        width: 138px;
        height: 194px;
        float: left;

        position: relative;
        left: 22px;
    }

    .sub4 dl {
        width: 138px;
        height: 194px;
        float: left;
        text-align: left;
        position: relative;
        margin: 0 12px;

    }

    .sub4 dl:first-child {
        margin-left: 60px;
    }

    .sub1 dl:first-child {
        margin-left: 55px;
    }

    .sub1 dl:last-child {
        margin-right: 55px;
    }



    .sub1 dl dt a,
    .sub2 dl dt a,
    .sub3 dl dt a,
    .sub4 dl dt a {
        display: block;
        font-weight: bold;
        color: #000000;
        margin: 5px;
        font-size: 18px;
        line-height: 60px;
        letter-spacing: -1px;
    }


    .sub1 dl dd a,
    .sub2 dl dd a,
    .sub3 dl dd a,
    .sub4 dl dd a {
        display: block;
        color: #666666;
        margin: 5px;
        font-size: 16px;
        line-height: 45px;
        letter-spacing: -1px;
    }

    .main ul li dl dt:hover>a {
        color: #0072bc;
    }

    .main ul li dl dd:hover>a {
        color: #0072bc;
        font-weight: bold;
    }

    /* 고객지원 */
    ul.customer {
        float: right;
        width: 250px;
        height: inherit;

        /* background-color: lightcoral; */

    }

    ul.customer li {
        float: left;
        line-height: 90px;
        margin: 0 10px;
    }

    ul.customer li:first-child {
        margin-left: 0;
    }

    ul.customer li:last-child {
        margin-right: 0;
    }

    ul.customer li a {
        font-size: 19px;
        color: #000000;
        font-weight: bold;
        display: block;
    }

    ul.customer li:hover a {
        color: #0072bc;
    }

    ul.customer li a img {
        margin-top: 30.5px;
    }






    /* 섹션 */
    section {
        width: 100%;
        height: 5375px;
        min-width: 1440px;
    }

    /* 메인배너 */


    #main_banner {

        width: 100%;

        height: 1075px;
        position: relative;
        min-width: 1440px;



        position: relative;

        margin: 0 auto;
        overflow: hidden;



    }

    #main_visual {
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        height: 1075px;
       

    }

    #main_visual ul {
        position: relative;
        float: left;
        width: 100%;
        height: 1075px;

    }

    #main_visual ul li {
        position: absolute;
        width: 100%;
        height: 1075px;
    }

    #buttonList:after {
        content: "";
        display: block;
        clear: both;
    }

    #buttonList li {
        background: url(../img/button_list.png) 0 -21px no-repeat;
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
        z-index: 9999;
        left: 48%;
        float: left;
        top: -322px;
        width: 22px;
        height: 22px;
        margin: 0 5px;


        /*   overflow: hidden; */
        transform: translate(-50%, 0);
    }

    #buttonList li.on {
        background-position: 0 0;
    }

    /* 활성화된 버튼 */
    #buttonList li a {
        display: block;
        text-indent: -9999px;
    }

    /* 글씨 제거 */

    #main_visual .visual_0 {
        left: 0;
        background: url(../img/main_banner1.jpg) 100% no-repeat;

    }

    #main_visual .visual_1 {
        left: 100%;
        background: url(../img/main_banner2.jpg) 100% no-repeat;
    }

    #main_visual .visual_2 {
        left: 200%;
        background: url(../img/main_banner3.jpg) 100% no-repeat;

    }

    #main_visual .visual_3 {
        left: 300%;
        background: url(../img/main_banner4.jpg) 100% no-repeat;
    }

    #main_visual .visual_4 {
        left: 400%;
        background: url(../img/main_banner5.jpg) 100% no-repeat;
    }




    .bannerBox {
        background: #000000;
        width: 100%;
        height: 1075px;
        opacity: 70%;
        position: absolute;
        z-index: 500;
        min-width: 1440px;
    }


    #main_banner .visual_0>h2,
    .visual_1>h2,
    .visual_2>h2,
    .visual_3>h2,
    .visual_4>h2 {

        min-width: 1440px;
        position: absolute;
        width: 900px;
        height: 408px;
        top: 45%;
        left: 50%;
        z-index: 999;
        color: #ffffff;
        font-size: 85px;
        letter-spacing: -5px;
        line-height: 1.3;
        text-align: center;
        transform: translate(-50%, -50%);

    }

    #main_banner .visual_0 h3,
    .visual_1 h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1000;
        color: #ffffff;
        width: 730px;
        height: 40px;
       
        transform: translate(-50%, -50%);
        vertical-align: middle;
        font-size: 36px;
       



    }

    #h3_wrap {
        position: absolute;
       z-index: 9999999;
        width: 750px;
        height: 80px;
      
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
        vertical-align: middle;
        
    }



    .banner_button1 {
        position: absolute;
        background-color: #0072bc;
        color: #ffffff;
        border-radius: 40px;
        width: 225px;
        height: 61px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-left: 30px;
        z-index: 9999;
        top: 50%;
        transform: translate(0%, -50%);
        right: 0%;
        cursor: pointer;
    }

    .banner_button2 {

        position: absolute;
        background-color: #0072bc;
        color: #ffffff;
        border-radius: 40px;
        width: 225px;
        height: 61px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-left: 30px;
        z-index: 9999;
        top: 55%;
        transform: translate(-50%, -50%);
        left: 50%;
        cursor: pointer;

    }

    .banner_button1:hover {
        background-color: #005993;
    }

    .banner_button2:hover {
        background-color: #005993;
    }



    /* main content1 */

    #content1m {
        display: none;
    }

    #content1 {

        width: 100%;
        height: 1075px;

        position: relative;
        min-width: 1440px;
        overflow: hidden;
        box-sizing: border-box;
    }

    #content1 ul {
        position: absolute;
        width: 215px;
        height: 465px;

        top: 50%;
        left: 208px;
        transform: translate(0, -50%);

    }

    #content1 ul li {
        text-align: center;
        width: 214px;
        height: 60px;
        margin-top: 45px;
        box-sizing: border-box;
    }

    .content_button1 {
        position: absolute;
        background-color: #0072bc;
        color: #ffffff;
        border-radius: 40px;
        width: 182px;
        height: 61px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;

        top: 28%;
        left: 530px;

    }

    #content1 ul li:hover {
        border-bottom: solid #0072bc 5px;

    }

    #content1 ul li:hover a {
        color: #000000;
    }

    #content1 ul li:first-child {
        margin-top: 0;
    }

    #content1 ul li a {
        color: #999999;
        font-size: 36px;
        font-weight: bold;
    }

    #content1 .content_img1 {
        display: block;
        position: absolute;
        right: -20%;
        bottom: -70%;
        z-index: 70;

    }

    #content1 .content_img2 {
        display: block;
        position: absolute;
        z-index: 70;
        right: 130px;
        bottom: 53%;
        transform: translate(0, 50%);
    }

    #content1 h2 {
        position: absolute;
        width: 600px;
        height: 118px;
        font-weight: bold;
        font-size: 48px;
        line-height: 2;
        color: #000000;
        z-index: 90;
        top: 38%;
        left: 530px;


    }

    #content1 p {
        position: absolute;
        top: 63%;
        left: 530px;
        z-index: 90;
    }

    #content1 p a {
        display: block;
        font-size: 30px;
        font-weight: 500;
        color: #0072bc;
        line-height: 40px;
        z-index: 90;
    }

    #content1 p:hover a {
        font-weight: 700;
    }

    #content1 p:hover a img {
        background-image: url(../img/more2.png);
    }

    /* main content2 */
    #content2 {
        background-image: url(../img/main_content2.jpg);

        width: 100%;
        height: 1075px;
        background-size: cover;
        position: relative;
        min-width: 1440px;
        z-index: 1000;

    }

    span.blue {
        color: #0072bc;

    }

    #content2 h2 {

        text-align: center;
        position: absolute;
        z-index: 1000;
        font-size: 72px;
        color: #ffffff;
        top: 210px;
        left: 50%;
        width: 1440px;
        transform: translate(-50%, 0);

    }

    .bl {
        color: #6EC8FF;
    }

    #content2 #circles1 {
        width: 1070px;
        height: 360px;
        margin: 0 auto;

        position: relative;
        z-index: 9999;
        top: 330px;

    }

    .content2_circle1 {
        width: 280px;
        height: 280px;
        left: 395px;
        top: 40px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;


    }

    .content2_circle2 {
        width: 280px;
        height: 280px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 40px;
        left: 197px;

    }

    .content2_circle3 {
        width: 280px;
        height: 280px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 40px;
        left: 0px;

    }

    .content2_circle4 {
        width: 280px;
        height: 280px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 40px;
        left: 591px;
    }

    .content2_circle5 {
        width: 280px;
        height: 280px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 40px;
        left: 788px;
    }

    .circle_box1,
    .circle_box2,
    .circle_box3,
    .circle_box4,
    .circle_box5 {
        width: 280px;
        height: 280px;
        position: absolute;
        background-color: #9e9e9e;
        opacity: .5;
        border-radius: 50%;
    }

    .content2_circle1:hover .circle_box1,
    .content2_circle2:hover .circle_box2,
    .content2_circle3:hover .circle_box3,
    .content2_circle4:hover .circle_box4,
    .content2_circle5:hover .circle_box5 {
        opacity: 1;
    }

    #content2 img {
        position: relative;
        z-index: 9999;
        opacity: 1;
    }


    #content2 p {
        font-size: 20px;
        position: relative;
        color: #fafafa;
        z-index: 9999;
        opacity: 1;
        font-weight: 600;
        top: 15px;
    }

    #content2 h3 {
        text-align: center;
        font-size: 32px;
        letter-spacing: -1px;
        font-weight: 500;
        color: #ffffff;
        width: 1200px;


        line-height: 1.5;
        left: 50%;
        bottom: 253px;
        position: absolute;
        z-index: 9999;

        transform: translate(-50%, 0);
    }

    /* main content3 */
    #content3 {
        background: url(../img/main_content3.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 1075px;
        background-size: 100%;
        position: relative;
        min-width: 1440px;
        z-index: 1000;


    }

    #content3 h2 {
        font-size: 96px;
        letter-spacing: -1px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 220px;
        font-weight: bold;

    }

    #content3 h3 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        letter-spacing: -1px;
        top: 400px;
        width: 100%;
        line-height: 2.5;
        font-size: 32px;
        text-align: center;
    }

    #content3 button {

        left: 50%;
        top: 620px;
        transform: translate(-50%, 0);
        position: absolute;
        background-color: #0072bc;
        color: #ffffff;
        border-radius: 200px;
        width: 540px;
        height: 105px;
        font-size: 48px;
        text-align: center;
        font-weight: bold;

        margin-left: 30px;
        cursor: pointer;
    }

    #content3 button:hover {
        background-color: #005993;
    }


    /* main content4 */
    #content4 {
        background: url(../img/main_content4.jpg);
        background-size: cover;
        position: relative;
        min-width: 1440px;
        z-index: 100;
        width: 100%;
        height: 1075px;

    }

    #content4 h2 {
        position: absolute;
        z-index: 9999;
        color: #ffffff;
        top: 220px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 72px;
        font-weight: bold;
        letter-spacing: -2px;

    }

    #content4 h3 {
        position: absolute;
        z-index: 9999;
        color: #ffffff;
        left: 50%;
        top: 750px;
        transform: translate(-50%, 0);
        font-size: 32px;
        letter-spacing: -1px;
        font-weight: 500;
        width: 1012px;
        height: 37px;
    }

    #content4 #circles2 {
        width: 780px;
        height: 320px;
        margin: 0 auto;

        position: relative;
        z-index: 9999;
        top: 360px;


    }

    #content4 .content4_circle1 {
        width: 320px;
        height: 320px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 0px;
        left: 0;
    }

    #content4 .content4_circle2 {
        width: 320px;
        height: 320px;
        position: absolute;
        text-align: center;
        line-height: 110px;
        border-radius: 50%;
        top: 0;
        right: 0px;
    }

    .content4_circle1:hover .circle_box6,
    .content4_circle2:hover .circle_box7 {
        opacity: 1;
    }

    .mediah3 {
        display: none;

    }

    #circles2 p {
        font-size: 28px;
        position: relative;
        color: #fafafa;
        z-index: 9999;
        opacity: 1;
        font-weight: 600;
        top: 15px;
    }

    #content4 img {
        position: relative;
        z-index: 9999;
        opacity: 1;
        cursor: pointer;
    }

    .circle_box6,
    .circle_box7 {
        width: 320px;
        height: 320px;
        position: absolute;
        background-color: #9e9e9e;
        opacity: .6;
        border-radius: 50%;
        cursor: pointer;
    }


    /* footer */
    footer {
        position: relative;
        width: 100%;
        height: 300px;
        background-color: black;

    }

    #footer_wrap {
        margin: 0 auto;
        width: 1440px;
        height: 300px;



    }

    #footer_logo {

        width: 390px;
        padding-top: 30px;
        height: 270px;

        float: left;
    }

    footer .logo_gray {
        width: 390px;
        padding-top: 30px;


    }

    footer #footer_write {

        width: 1050px;
        height: 270px;
        padding-top: 50px;
        float: left;


    }

    footer #footer_write .stylep {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;


    }

    footer .stylep a {
        color: #ffffff;
        font-weight: bold;
    }

    footer .stylep a:hover {
        color: #a1a1a1;
    }

    footer .stylep .copy {
        color: #a1a1a1;
        font-size: 14px;
    }

    footer .mediap {
        display: none;
    }

    #footer_form {
        display: none;
    }
}